
@font-face {
        font-family: keifont;
        src: url("../../font/keifont.ttf");
}

.root{
	-fx-background-color: #FFF8E1;
}


#RandumSuggest,#WeekSuggest,#FoodSerach,#SeasonSearch,#Bookmark{
	-fx-font-family: "keifont";
	-fx-font-size: 5em;
}
#Title,#Title2{
	-fx-font-family: "keifont";

}


