.root{
	-fx-background-color: #FFF8E1;
}

@font-face {
        font-family: keifont;
        src: url("../../../font/keifont.ttf");
}

.label{
    -fx-font-family: "keifont";
}
.Text{
    -fx-font-family: "keifont";
}

.button{
	-fx-font-family: "keifont";
}

.button:hover{
	-fx-font-family: "keifont";
}

.button:pressed{
	-fx-font-family: "keifont";
}