.root{
	-fx-background-color: #FFF8E1;
}

@font-face {
        font-family: keifont;
        src: url("../../../font/keifont.ttf");
}

.label{
    -fx-font-family: "keifont";
}
.Text{
    -fx-font-family: "keifont";
}

.button{
-fx-font-size: 35px;
	-fx-font-family: "keifont";
}