@font-face {
        font-family: keifont;
        src: url("../../../font/keifont.ttf");
}

.root{
	-fx-background-color: #FFF8E1;
}

.label, .button{
    -fx-font-family: "keifont";
}

.button{
	-fx-font-size: 35px;
}

.combo-box{
	-fx-font-size: 35px;
}

#title2{
	-fx-text-fill: #00BCD4;
}