@font-face {
       font-family: keifont;
       src: url("../../../font/keifont.ttf");
}

.root{
	-fx-background-color: #FFF8E1;
}

.label, .button{
	-fx-font-family: "keifont";
}

.button{
	-fx-font-size: 50px;
}

#deleteBookmarkButton1, #deleteBookmarkButton2, #deleteBookmarkButton3{
	-fx-font-size: 30px;
}

#menuName1, #menuName2, #menuName3{
	-fx-text-fill: #03A9F4;
	-fx-underline: true;
}