@font-face {
        font-family: keifont;
        src: url("../../../font/keifont.ttf");
}

.root{
    -fx-background-color: #FFF8E1;
}

#VBox1{
	-fx-background-color: #FFF8E1;
}

.label{
     -fx-font-family: "keifont";
     -fx-font-size: 50px;
}

#CookMenu1,#CookMenu2,#CookMenu3,#CookMenu4,#CookMenu5,#CookMenu6,#CookMenu7 {
	-fx-font-size: 60px;
	-fx-underline: true;
	-fx-text-fill: #03A9F4;
}

#ReturnTopButton{
	-fx-font-family: "keifont";
}

#nextPage_button{
	-fx-font-family: "keifont";
	-fx-font-size: 3.5em;
}

#ReturnTopButton:hover{
	-fx-font-size: 3.5em;
}
#nextPage_button:hover{
	-fx-font-size: 3.5em;
}

#BookmarkButton1,#BookmarkButton2,#BookmarkButton3,#BookmarkButton4,#BookmarkButton5,#BookmarkButton6,#BookmarkButton7{
	-fx-font-family: "keifont";
	-fx-font-size: 1.8em;
}